<section>
	<div class='container'>
		<h1 class='text-center'>Our Snacks</h1>
		<br/><br/>
		
		<h2>Snack Bags</h2>
		<br/>
		<div class='container text-center'>
			{{#each model as |product|}}
				{{#if product.isSnack}}
					<div class='col-md-4'>
						<img src="{{product.image}}">
						<h3>{{product.name}}</h3>
						<p>{{product.description}}</p>
						<h4>£{{product.price}}</h4>
						<button type='button' class='btn btn-xs'>ADD TO BASKET</button>
					</div>
				{{/if}}
			{{/each}}
		</div>

		<br/><br/>

		<h2>Sharing Bags</h2>
		<br/>
		<div class='container text-center'>
			{{#each model as |product|}}
				{{#if product.isShare}}
					<div class='col-md-4'>
						<img src="{{product.image}}">
						<h3>{{product.name}}</h3>
						<p>{{product.description}}</p>
						<h4>£{{product.price}}</h4>
						<button type='button' class='btn btn-xs'>ADD TO BASKET</button>
					</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</section>